/* estilizado de header en desktop*/
@media only screen and (min-width: 1050px) {
    .fusion-logo a {
        max-width: 70% !important;
    }

    #side-header .fusion-logo,
    .fusion-header .fusion-logo {
        margin: 10px 0px 10px 0px !important;
    }

    .fusion-main-menu {
        top: 10px !important;
    }
}

/* ocultar elementos del topmenu sin traducir y estilizar lo que queda */
.menu-item.fusion-dropdown-menu.menu-item-has-children.fusion-custom-menu-item.fusion-menu-login-box,
.fusion-secondary-menu-icon {
    display: none !important;
}

#menu-item-19886 {
    border-right: 1px solid #eaeaea !important;
    border-left: 1px solid #eaeaea !important;
}

/* ocultar boton Details sin traducir en productos */
.show_details_button {
    display: none !important;
}

/* estilizar main menu */
.menu-item {
    text-transform: uppercase !important;
}

.menu-text {
    font-weight: 700 !important;
}

/* sombra a los titulos del slider */
div.slide-content-container h2.title-heading-center,
div.slide-content-container h3.title-heading-center {
    text-shadow: 3px 5px 5px rgb(0 0 0) !important;
}

/* ocultar duplicado de productos en catalogo */
.woocommerce-products-header {
    display: none !important;
}

/* ocultar orderby */
.orderby-order-container,
.orderby.order-dropdown,
.sort-count.order-dropdown {
    display: none !important;
}

/* Cambia el color del placeholder para ocultar el texto sin traducir */
input[type="search"]::placeholder {
    color: #fff !important;
}

/* Ocultar textos sin traducir al realizar busquedas */
.search-page-search-form.search-page-search-form-top,
.fusion-single-line-meta,
.fusion-meta-info {
    display: none !important;
}

.woocommerce-invalid:after {
    content: 'Este campo es erróneo o está vacío' !important;
}

/* ocultar link a carrito e compras temporalmente para mostrar a cliente */
.fusion-secondary-menu {
    display: none !important;
}

/* ocultar search icon en menu mobile */
.fusion-icon.fusion-icon-search {
    display: none !important;
}